.liblue {color:blue;}
.liwhite {color:white;
  background-color:red;}
.color-info {border-style:double;
  background-color:#58FAF4;}
  .color-info2 {background-color:#F7D358;
    border-style:double;}
    .liyellow {color:yellow;}
    ul.nav li a {color:white;}
